<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="home"> 
   <%- include('header.ejs') %>
  <div class="categories-container">
    
   <a href="/categories/create" class="add-category">  <img src="/images/RP_icon.webp" class="rp-img"> Add Category + </a>






  <div class="categories">
    <% collections.forEach((obj)=>{ %>
            <div class="collectionCard"><img src="/images/icons8-riot-games-48.png"><a href="/categories/<%=obj.name %>"> <%= obj.name %> </a></div>
   <% }) %>
  </div>









  </div>





 


    
   </div>
  </body>
</html>