<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CREATE FORM </h1>
   <form method="POST" action="/createCategories"> 
    <input type="test" name="name">
    <button type="submit"></button>
   </form>
   
  </body>
</html>