<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="home"> 
   <%- include('header.ejs') %>
  <div class="categories-container">
    
    <div class="add-category">
     <a href="/categories/create" class="add-category"> <button class="add-category-btn">Add Category</button></a>
    </div>





  <div class="categories">
    <% collections.forEach((obj)=>{ %>
            <div class="collectionCard"><img src="/images/icons8-kite-shape-30.png" class="kite-icon"><a href="/categories/<%=obj.name %>"> <%= obj.name %> </a></div>
   <% }) %>
  </div>









  </div>





 


    
   </div>
  </body>
</html>