<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 <h1>CREATE ITEM FOR CATEGORY SECTION</h1>
 <form method="post" action="/createItem">
    <label for="itemName">Item Name</label>
    <input type="text" name="itemName">
     <label for="itemDescription">Item Description</label>
    <input type="text" name="itemDescription">
     <label for = "categoryNames"></label>
     <select name="categoryNames"> 
        <option></option>
         <% categories.forEach((obj)=>{ %>
            
            <option value= "<%= obj.name %>"><%= obj.name %></option>
       <% }) %>
       
     </select>
      <label for = "image">Upload Image</label>
     <input type="file" name="image">
     <label for="price">Price</label>
     <input type="number" name="price">
     <label for="stock">Stock</label>
      <input type="number" name="stock">
      <button type="submit">Submit</button>
 </form>

  </body>
</html>
