<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <div class="home">
     <header > 
      <img src="./images/league-logo.png">
   <ul class="navbar">
  <li><%= home %></li>
  <li><a href="/categories"> <%= categories %></a> </li>
  <li><a href="/items"> <%= items %> </a></li>
</ul>
</header>
<h1 class="league-title">LEAGUE OF LEGENDS</h1>
<div class="image-container">
  <h2>WELCOME TO MY LEAGUE OF LEGENDS INVENTORY APP!</h2>
<img src="/images/600528.png" class="teemo-img">
</div>

  </div>
 
  </body>
</html>
