<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 <header> 
   <ul>
  <li><%= home %></li>
  <li><a href="/categories"> <%= categories %></a> </li>
  <li><a href="/items"> <%= items %> </a></li>
</ul>
</header>

  </body>
</html>
