<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

       
     <button>EDIT BUTTON</button>
 <button onclick='<%= clickHandler %>'> TRASH</button>
   

    <h1><%=  categoryData.name     %></h1>
      
   
  </body>
</html>