<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

       
     
    <h1>ITEMSs</h1>
  <% documentData.forEach((obj) => { %>
    <p> <%= obj.name %></p>
<% }) %>

      
   
  </body>
</html>