*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: league;
  src: url(/fonts/BeaufortforLOL-Bold.otf);
}
a:link,a:visited {
   text-decoration: none;
   color: white;
}

a:hover{
  color: #C89B3C
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blue;
 background-image: url(/images/background.png);
 background-size: 100% 100%;
  height: 100vh;
}



header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  border-radius: 35px;
 padding-left: 20px;
 padding-right: 8px;
 margin-top: 15px;
   background: rgba(100, 100, 100, 0.38);
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  color: #CDFAFA;
  font-size: 22px;
  font-family: league;
 text-align: center;
}
ul{
  list-style: none;
  display: flex;
  gap: 10px;
}



.temp-styling{
  display: flex;
  gap: 20px;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.item-card{
  height: 200px;
  width: 300px;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 180px 0px 180px;
  width: 100vw;
  height: 100vh;
}
img {
  height: 55px;
}

.league-title {
  color: white;
  font-size: 100px;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  font-family: league;

}
.image-container{
  display: flex;
  justify-content: center;
  position: relative;
  height: 75%;
  width: 100%;
}

h2{
  position: absolute;
  width: 100%;
  height: 5%;
  text-align: center;
  color: white;
  font-family: league;
  
}

.my-account{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 13%;
  height: 60px;
  border-radius: 35px;
  background: rgb(200,155,60);
background: linear-gradient(90deg, rgba(200,155,60,1) 0%, rgba(120,90,40,1) 100%);
font-size: 19px;
font-family: league;
letter-spacing: 1px;
color: #CDFAFA;
}
.teemo-img{
 width: 100%;
 height: 97%;
 border-radius: 15px;
}


.categories-container {
  display: flex;
 flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.add-category {
 height: 5%;
  display: flex;
  align-items: center;
}

.add-category-btn{
    font-family: 'Marcellus SC', serif;
    font-family: league;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 15px; 
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
}
.add-category-btn:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 8px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

.add-category-btn:active {
  text-shadow: none;
  box-shadow: none;
  color: #cdbe9130;
}


.rp-img {
  height: 28px;

}
.collectionCard{
  display: flex;
 align-items: center;
  font-size: 22px;
  font-family: league;
  color: #CDFAFA;
  width: 10%;
  height: 5%;
}
.categories{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 18px;
}

.category-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 5px;
}
.category-navbar{
  display: flex;
  align-items: center;
  width: 100%;
  height: 8%;
  font-size: 26px;
  color: white;
  font-family: league;
  gap: 20px;
  
}

.category-nav-img{
  height: 30px;
  background: transparent;
  border: none;
}

.item-categories{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  column-gap: 15px;

}

.item{
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 15%;
  border: 2px white solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 12px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

.item-img{
  image-rendering: auto;
  border-radius: 15px 15px 0px 0px;
  height: 60%;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px white solid;
  height: 50%;
  width: 23%;
  margin-top: 5%;
  align-items: center;
 background: white;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   gap: 10px;
   border-radius: 10px;
}

.riot-img{
  
  height: 9%;
  width: 39%;
  margin-top: 8%;
  
}

.category-name {
  color: black;
  font-size: 22px;
  font-weight: 700;
  margin-top: 4%;
}

.category-input-name{
height: 9%;
width: 80%;
background-color:rgb(237, 237, 237);
border: none;
font-size: 15px;
font-weight: 700;
 border-radius: 5px;
 border: 1px whitesmoke solid;
}

.category-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11%;
  width: 16%;
  border-radius: 10px;
  border: 1px black solid;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0.4;
   margin-top: 37%;
    cursor: pointer
   
}

.kite-icon{
  height: 28px;
}

.collectionCard:hover .kite-icon {
  filter: invert(49%) sepia(58%) saturate(7050%) hue-rotate(164deg) brightness(99%) contrast(98%);
  transition: transform 0.3s ease, filter 0s ease;
   transform: rotate(360deg);
}


.submit-arrow {
  height: 25px;
}

.item-info {
  display: flex;
  justify-content: center;
 padding-left: 20px;
  background: #F0E6D2;
  flex-direction: column;
  gap: 3px;
  height: 100%;
  border-radius: 0px 0px 12px 12px;
  color: black;
  font-size: 20px;
  font-family: league;
  opacity: 0.9;
}
.item-stock{
  color: red;
}
.item-price{
  display: flex;
  
  align-items: center;
}
.BE-icon{
  display: flex;
  height: 20px;
}

.item-add{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 10px;
 width: 10px;

}

.individual-item-container{
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  height: 50%;
  width: 18%;
}

.items-header{
  font-family: league;
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
}

.createItem-container {
  display: flex;
  height: 100%;
  justify-content: center;
width: 100%;
 
}

.createItem {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 9px;
  height: 70%;
}

label{
  font-family: league;
  font-size: 20px;
  color: white;
}
input{
  height: 30px;
}

.createItem button{
  height: 40px;
  color: cyan;
  width: 70%;
  margin-left: 16%;
  font-size: 16px;
  font-weight: 700;
  font-family: league;
}