<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="home"> 
 <%- include('header.ejs') %>
<!--Multer suggests adding enctype, delete if breaks-->
<h1>Create Item</h1>
<div class="createItem-container"> 
 <form method="post" action="/createItem" enctype="multipart/form-data" class="createItem"> 
    <label for="itemName" class="label">Item Name</label>
    <input type="text" name="itemName">
     <label for="itemDescription">Item Description</label>
    <input type="text" name="itemDescription">
     <label for = "categoryNames">Category</label>
     <select name="categoryNames"> 
        <option></option>
         <% categories.forEach((obj)=>{ %>
            
            <option value= "<%= obj.name %>"><%= obj.name %></option>
       <% }) %>
       
     </select>
      <label for = "image">Upload Image</label>
     <input  type="file" name="itemImage" id="Itemimage" accept=".jpg, .jpeg, .png">
     <label for="price">Price</label>
     <input type="number" name="price">
     <label for="stock">Stock</label>
      <input type="number" name="stock">
      <button type="submit">Submit</button>
 </form>
 </div>
</div>
  </body>
</html>
